@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "variables";
@import "mixin";
@import "header";
@import "hero";
@import "brand";
@import "feature";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  padding: 40px 130px;
  @include laptop {
    padding: 20px 40px;
  }
  @include mobile {
    padding: 10px 20px;
  }
}
